# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Entorno
.env

# Logs
*.log

# Data files
*.csv
*.json
!parametros*.json
!params*.json

# Lock files
velas/lock/*.lock

# Output
nohup.out

# Temporal
niveles/json/*
niveles/logs/*
!niveles/json/.gitkeep
!niveles/logs/.gitkeep


# Locks de ejecucion
*.lock
